@attribute [Authorize]
@page "/OnlineConsultation/create/"
@inject HttpClient _client

@inject NavigationManager _navManager

<h1 class="mt-3" id="CreateOnlineConsultationheader"> Create Online Consultation</h1>

<FormComponent ButtonText="Create Online Consultation" onlineconsultation="onlineconsultation" OnValidSubmit="@CreateOnlineConsultations" />


@code {

    OnlineConsultation onlineconsultation = new OnlineConsultation();

    private IList<Customer>? Customers;
    private IList<Staff>? Pharmacists;

    protected async override Task OnInitializedAsync()
    {
        Customers = await _client.GetFromJsonAsync<List<Customer>>($"{Endpoints.CustomersEndpoint}");
        Pharmacists = await _client.GetFromJsonAsync<List<Staff>>($"{Endpoints.StaffsEndpoint}");
    }

    private async Task CreateOnlineConsultations()
    {
        await _client.PostAsJsonAsync(Endpoints.OnlineConsultationsEndpoint, onlineconsultation);
        _navManager.NavigateTo("/Prescription/create/");
    }

}



