#flexcolumnonlineconsultation {
    align-items: center;
}

.OnlineConsultationCard {
    max-width: 1000px;
    width: 100%;
}
.card-header {
    font-weight: 800;
    font-family: "Rubik", serif;
    font-size:20px;
    text-align:center;
}
