@attribute [Authorize]
@page "/Prescription/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h1 class="mt-3" id="CreatePrescriptionheader"> Create Prescription</h1>

<FormComponent ButtonText="Create Prescription" prescription="prescription" OnValidSubmit="@CreatePrescriptions" />

@code {
    Prescription prescription = new Prescription();

    private IList<OnlineConsultation>? OnlineConsultations;


    protected async override Task OnInitializedAsync()
    {
        OnlineConsultations = await _client.GetFromJsonAsync<List<OnlineConsultation>>($"{Endpoints.OnlineConsultationsEndpoint}");
    }

    private async Task CreatePrescriptions()
    {
        await _client.PostAsJsonAsync(Endpoints.PrescriptionsEndpoint, prescription);
        _navManager.NavigateTo("/Prescription/");
    }

}
