@page "/Prescription/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
@inject IJSRuntime JSRuntime
<h1 class="mt-3" id="EditPrescriptionheader">Edit Prescription</h1>
<FormComponent ButtonText="Update" OnValidSubmit="EditPrescription" prescription="prescription" />

<div class="d-flex justify-content-between m-2">
    <BackToList Target="OnlineConsultation" />
    <a href="/PrescriptionItem/edit/@id" class="btn btn-primary ">
        <span class="oi oi-arrow-right"></span>
        Edit Prescription Item
    </a>
</div>

@code {

    [Parameter] public int id { get; set; }
    Prescription? prescription = new Prescription();
    protected async override Task OnParametersSetAsync()
    {
        prescription = await
        _client.GetFromJsonAsync<Prescription>($"{Endpoints.PrescriptionsEndpoint}/{id}");
    }

    async Task EditPrescription()
    {
        await _client.PutAsJsonAsync($"{Endpoints.PrescriptionsEndpoint}/{id}",
        prescription);
        await JSRuntime.InvokeVoidAsync("alert", "Prescription was edited!");
    }

}