@page "/Prescription/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h1 class="mt-3" id="EditPrescriptionheader">Edit Prescription</h1>
<FormComponent ButtonText="Update" OnValidSubmit="EditPrescription" prescription="prescription" />
<Next Target="PrescriptionItem" />
@code {

    [Parameter] public int id { get; set; }
    Prescription? prescription = new Prescription();
    protected async override Task OnParametersSetAsync()
    {
        prescription = await
        _client.GetFromJsonAsync<Prescription>($"{Endpoints.PrescriptionsEndpoint}/{id}");
    }

    async Task EditPrescription()
    {
        await _client.PutAsJsonAsync($"{Endpoints.PrescriptionsEndpoint}/{id}",
        prescription);
        _navManager.NavigateTo("/Prescription/");
    }

}