@page "/Prescription/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
<h1 class="mt-3" id="ViewPrescriptionheader"> View Prescription</h1>
<FormComponent prescription="prescription" Disabled="true" />

<div class="d-flex justify-content-between m-2">
    <BackToList Target="OnlineConsultation" />
    <a href="/PrescriptionItem/view/@id" class="btn btn-primary ">
        <span class="oi oi-arrow-right"></span>
        View Prescription Items
    </a>
</div>

@code {
    [Parameter] public int id { get; set; }
    Prescription? prescription = new Prescription();
    protected async override Task OnParametersSetAsync()
    {
        prescription = await
        _client.GetFromJsonAsync<Prescription>($"{Endpoints.PrescriptionsEndpoint}/{id}");
    }
}
