@page "/Prescription/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
<h1 class="mt-3" id="ViewPrescriptionheader"> View Prescription</h1>
<FormComponent prescription="prescription" Disabled="true" />
@code {
    [Parameter] public int id { get; set; }
    Prescription? prescription = new Prescription();
    protected async override Task OnParametersSetAsync()
    {
        prescription = await
        _client.GetFromJsonAsync<Prescription>($"{Endpoints.PrescriptionsEndpoint}/{id}");
    }
}
