@page "/Category/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
<h1 class="mt-3" id="ViewCategoryheader">View Category</h1>
<FormComponent category="category" Disabled="true" />
@code {
    [Parameter] public int id { get; set; }
    Category? category = new Category();
    protected async override Task OnParametersSetAsync()
    {
        category = await
        _client.GetFromJsonAsync<Category>($"{Endpoints.CategoriesEndpoint}/{id}");
    }
}
