@page "/Category/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3>View Category</h3>
<FormComponent category="category" Disabled="true" />
@code {
    [Parameter] public int id { get; set; }
    Category? category = new Category();
    protected async override Task OnParametersSetAsync()
    {
        category = await
        _client.GetFromJsonAsync<Category>($"{Endpoints.CategorysEndpoint}/{id}");
    }
}
