@attribute [Authorize]
@page "/Category/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create Category</h3>


<FormComponent ButtonText="Create Category" category="category" OnValidSubmit="@CreateCategorys" />


@code {
    Category category = new Category();

    private IList<Category>? categories;

    protected async override Task OnInitializedAsync()
    {
        categories = await _client.GetFromJsonAsync<List<Category>>($"{Endpoints.CategorysEndpoint}");
    }

    private async Task CreateCategorys()
    {
        await _client.PostAsJsonAsync(Endpoints.CategorysEndpoint, category);
        _navManager.NavigateTo("/Category/");
    }

}
