@page "/Category/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Category</h3>
<FormComponent ButtonText="Update" OnValidSubmit="EditCategory" category="category" />
@code {

    [Parameter] public int id { get; set; }
    Category? category = new Category();
    protected async override Task OnParametersSetAsync()
    {
        category = await
        _client.GetFromJsonAsync<Category>($"{Endpoints.CategorysEndpoint}/{id}");
    }

    async Task EditCategory()
    {
        await _client.PutAsJsonAsync($"{Endpoints.CategorysEndpoint}/{id}",
        category);
        _navManager.NavigateTo("/Category/");
    }

}