@attribute [Authorize]
@page "/Customer/create/"
@inject HttpClient _client
@inject NavigationManager _navManager
@inject IJSRuntime JSRuntime


<h1 class="mt-3" id="CreateCustomerheader">Create Customer</h1>

<FormComponent ButtonText="Create Customer" customer="customer" OnValidSubmit="@CreateCustomers" />


@code {
    Customer customer = new Customer();


    private async Task CreateCustomers()
    {
        await _client.PostAsJsonAsync(Endpoints.CustomersEndpoint, customer);
        await JSRuntime.InvokeVoidAsync("alert", "Customer was Created!");
        customer = new Customer();
    }

}