@attribute [Authorize]
@page "/Customer/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create Customer</h3>


<FormComponent ButtonText="Create Customer" customer="customer" OnValidSubmit="@CreateCustomers" />


@code {
    Customer customer = new Customer();

    private IList<Staff>? Staffs;
    private IList<Order>? Orders;

    protected async override Task OnInitializedAsync()
    {
        Staffs = await _client.GetFromJsonAsync<List<Staff>>($"{Endpoints.StaffsEndpoint}");
        Orders = await _client.GetFromJsonAsync<List<Order>>($"{Endpoints.OrdersEndpoint}");

    }

    private async Task CreateCustomers()
    {
        await _client.PostAsJsonAsync(Endpoints.CustomersEndpoint, customer);
        _navManager.NavigateTo("/Customer/");
    }

}
