@page "/Customer/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h1 class="mt-3" id="ViewCustomerheader">View Customer</h1>

<FormComponent customer="customer" Disabled="true" />

@code {
    [Parameter] public int id { get; set; }
    Customer? customer = new Customer();
    protected async override Task OnParametersSetAsync()
    {
        customer = await
        _client.GetFromJsonAsync<Customer>($"{Endpoints.CustomersEndpoint}/{id}");
    }
}