.em {
    text-align: center;
}

.form-control {
    text-align: center;
    border: 2px solid #ced4da; 
    border-color: black;
}

.prescriptionproductproduct-thumb {
    justify-items: center;
}

.precriptionitemtableheader {
    font-size: 25px;
    font-family: "Rubik", serif;
}

.PrescriptionProductimage {
    height: 200px;
    width: 200px;
    justify-content:center;
}

.PrescriptionItemCard {
    max-width: 1000px;
    width: 100%;
}

.card-header {
    font-weight: 800;
    font-family: "Rubik", serif;
    font-size: 20px;
    text-align: center;
}

#flexcolumnprescriptionitem2 {
    align-items: center;
}
/* Add this to your CSS file or style section */
.with-border {
    border: 2px solid #ced4da; /* Adjust the color and width as needed */
    border-radius: 4px; /* Adjust the border radius for rounded corners */
    padding: 6px; /* Adjust the padding for better appearance */
}

.custom-dropdown {
    border: 1px solid #ced4da; /* Add your preferred border color */
    border-radius: 0.25rem; /* Add your preferred border radius */
    padding: 0.375rem 0.75rem; /* Add your preferred padding */
}