.em {
    text-align: center;
}
.form-control {
    text-align: center;
    border: 2px solid #ced4da; 
    border-color: black;
}
.prescriptionproductproduct-thumb{
    justify-items:center;
}
.precriptionitemtableheader {
    font-size: 25px;
    font-family: "Rubik", serif;
}
.PrescriptionProductimage {
    height: 200px;
    width: 200px;
    align-self: center;
}
.PrescriptionItemCard {
    max-width: 1000px;
    width: 100%;
}

.card-header {
    font-weight: 800;
    font-family: "Rubik", serif;
    font-size: 20px;
    text-align: center;
}

#flexcolumnprescriptionitem {
    align-items: center;
}
