@page "/Order/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
@inject IJSRuntime JSRuntime
<h1 class="mt-3" id="EditOrderheader">Edit Order</h1>

<FormComponent ButtonText="Update" OnValidSubmit="EditOrder" order="order" />

<div class="d-flex justify-content-between m-2">
    <a href="/Order/" class="btn btn-primary">
        <span class="oi oi-arrow-left"></span>
        Back to view Order
    </a>
    <a href="/Order/editlist/@id" class="btn btn-primary ">
        <span class="oi oi-arrow-right"></span>
        Edit Order List
    </a>
</div>

@code {

    [Parameter] public int id { get; set; }
    Order? order = new Order();
    protected async override Task OnParametersSetAsync()
    {
        order = await
        _client.GetFromJsonAsync<Order>($"{Endpoints.OrdersEndpoint}/{id}");
    }

    async Task EditOrder()
    {
        await _client.PutAsJsonAsync($"{Endpoints.OrdersEndpoint}/{id}",
        order);
        await JSRuntime.InvokeVoidAsync("alert", "Order was Edited!");
        /*_navManager.NavigateTo("/Order/");*/
    }

}