@page "/Order/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Order</h3>
<OrderFormComponent ButtonText="Update" OnValidSubmit="EditOrder" order="order" />
@code {

    [Parameter] public int id { get; set; }
    Order? order = new Order();
    protected async override Task OnParametersSetAsync()
    {
        order = await
        _client.GetFromJsonAsync<Order>($"{Endpoints.OrdersEndpoint}/{id}");
    }

    async Task EditOrder()
    {
        await _client.PutAsJsonAsync($"{Endpoints.OrdersEndpoint}/{id}",
        order);
        _navManager.NavigateTo("/Order/");
    }

}