@page "/Order/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3>View Order</h3>

<OrderFormComponent order="order" Disabled="true" />

@code {
    [Parameter] public int id { get; set; }
    Order? order = new Order();
    protected async override Task OnParametersSetAsync()
    {
        order = await
        _client.GetFromJsonAsync<Order>($"{Endpoints.OrdersEndpoint}/{id}");
    }
}               