#dflexorderitem {
    justify-content: center;
}

#orderitemheader {
    text-align: center;
    font-weight: 800;
    font-size: 35px;
    font-family: "Rubik", serif;
}

#orderitemtablecolumnname {
    borderitem: 2px solid;
}

.dcol {
    text-align: center;
}

.dr {
    text-align: center;
}

.createorderitembutton {
    width: 25%;
    align-self: end;
}
