#dflexPrescriptionItem {
    justify-content: center;
}

#PrescriptionItemheader {
    text-align: center;
    font-weight: 800;
    font-size: 35px;
    font-family: "Rubik", serif;
}

#PrescriptionItemtablecolumnname {
    border: 2px solid;
}

.text-hr {
    width: 50%;
    margin: auto;
}

.dcol {
    text-align: center;
}

.dr {
    text-align: center;
}

.createprescriptionitembutton {
    width: 25%;
    align-self: end;
}