@page "/Order/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager


<h1 class="mt-3" id="ViewOrderheader">View Order</h1>

<FormComponent order="order" Disabled="true" />


<div class="d-flex justify-content-between m-2">
    <BacktoListcopy Target="Order" />
    <a href="/Order/list/@id" class="btn btn-primary ">
        <span class="oi oi-arrow-right"></span>
        View Order Items
    </a>
</div>


@code {
    [Parameter] public int id { get; set; }
    Order? order = new Order();
    protected async override Task OnParametersSetAsync()
    {
        order = await
        _client.GetFromJsonAsync<Order>($"{Endpoints.OrdersEndpoint}/{id}");
    }
}
