@page "/Order/list/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
@inject IJSRuntime js

<PageTitle>Order List</PageTitle>

<div class="container">
    <div class="d-flex flex-column" id="dflexorderview">
        <h1 class="mt-5" id="orderviewheader">List of Order Items</h1>

    </div>

    @if (OrderItems == null)
    {
        <div class="alert alert-info">Loading Order Items</div>
    }
    else
    {
        <div class="table-responsive mt-3">
            <table class="table ">
                <thead class="table-light">
                    <tr id="orderviewtablecolumnname">
                        <th scope="col" class="dcol">#Order Item ID</th>
                        <th scope="col" class="dcol">Quantity</th>
                        <th scope="col" class="dcol">Sub-Total</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var orderitem in OrderItems)
                    {
                        @if (orderitem.OrderID == id)
                        {
                            <tr>
                                <td class="dr">@orderitem.OrderItemID</td>
                                <td class="dr">@orderitem.OrderItemQty</td>
                                <td class="dr">@orderitem.OrderItemSubTotal</td>

                                <td class="dr">
                                    <a href="/OrderItem/view/@orderitem.OrderItemID" class="btn btn-primary">
                                        <i class="bi bi-file-earmark"></i>
                                    </a>
                                    <a href="/OrderItem/edit/@orderitem.OrderItemID" class="btn btn-warning">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <button class="btn btn-danger" @onclick="@(()=>DeleteOI(orderitem.OrderItemID))">
                                        <i class="bi bi-x-lg"></i>
                                    </button>
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>
    }
    <a href="/Order/view/@id" class="btn btn-secondary centered-button">
        <span class="oi oi-arrow-circle-left"></span>
        Back to view Order
    </a>

</div>




@code {
    [Parameter] public int id { get; set; }
    private List<OrderItem>? OrderItems;
    <!--When the page begins to load-->
    protected async override Task OnInitializedAsync()
    {
        OrderItems = await _client.GetFromJsonAsync<List<OrderItem>>($"{Endpoints.OrderItemsEndpoint}");
    }


    async Task DeleteOI(int orderitemId)
    {
        if (OrderItems != null)
        {
            var orderitem = OrderItems.First(q => q.OrderItemID == orderitemId);
            var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to Delete {orderitem.OrderItemID}?");
            if (confirm)
            {
                await _client.DeleteAsync($"{Endpoints.OrderItemsEndpoint}/{orderitemId}");
                await OnInitializedAsync();
            }
        }
    }


}