@page "/OrderItem/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
@inject IJSRuntime JSRuntime

<h3>Edit Order Item</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditOrderItem" orderitem="orderitem" />

<a href="/Order/editlist/@orderitem.OrderID" class="btn btn-primary">
    <span class="oi oi-arrow-circle-left"></span>
    Back to Order List
</a>


@code {

    [Parameter] public int id { get; set; }
    OrderItem? orderitem = new OrderItem();
    protected async override Task OnParametersSetAsync()
    {
        orderitem = await
        _client.GetFromJsonAsync<OrderItem>($"{Endpoints.OrderItemsEndpoint}/{id}");

    }

    async Task EditOrderItem()
    {
        await _client.PutAsJsonAsync($"{Endpoints.OrderItemsEndpoint}/{id}",
        orderitem);
        await JSRuntime.InvokeVoidAsync("alert", "Order item was Edited!");
    }

}
