@attribute [Authorize]
@page "/Staff/create/"
@inject HttpClient _client
@inject NavigationManager _navManager
@inject IJSRuntime JSRuntime
<h1 class="mt-3" id="CreateStaffheader"> Create Staff</h1>


<FormComponent ButtonText="Create Staff" staff="staff" OnValidSubmit="@CreateStaffs" />


@code {
    Staff staff = new Staff();

    private async Task CreateStaffs()
    {
        await _client.PostAsJsonAsync(Endpoints.StaffsEndpoint, staff);
        await JSRuntime.InvokeVoidAsync("alert", "Staff was Created!");
        staff = new Staff();
    }

}

