@attribute [Authorize]
@page "/Staff/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create Staff</h3>


<FormComponent ButtonText="Create Staff" staff="staff" OnValidSubmit="@CreateStaffs" />


@code {
    Staff staff = new Staff();

    private IList<Staff>? Staffs;

    protected async override Task OnInitializedAsync()
    {
        Staffs = await _client.GetFromJsonAsync<List<Staff>>($"{Endpoints.StaffsEndpoint}");

    }

    private async Task CreateStaffs()
    {
        await _client.PostAsJsonAsync(Endpoints.ProductsEndpoint, product);
        _navManager.NavigateTo("/Product/");
    }

}

