@attribute [Authorize]
@inject HttpClient _client
@inject IJSRuntime js
@page "/Staff"
<PageTitle>Staff</PageTitle>

<div class="container">

    <div class="d-flex flex-column" id="dflexStaff">
        <h1 class="mt-5" id="Staffheader">Staff</h1>
        <a href="/Staff/create" class="btn btn-secondary createstaffbutton">
            <span class="oi oi-plus"></span>
            Create New Staff
        </a>
    </div>


    <div class="row  mt-3">
        <div class="col-md-7 col-lg-8 ">
            <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
                @if (Staffs == null)
                {
                    <div class="alert alert-info">Loading Orders</div>
                }
                else
                {
                    @foreach (var Staff in Staffs)
                    {
                        <div class="col aStaff">
                            <a href="/Staff/edit/@Staff.StaffID" class="card h-100 Staffcard" style="text-decoration: none;">
                                <img src="https://cdn-icons-png.flaticon.com/512/2815/2815428.png" class="Staffimage">
                                <div class="card-body Staffcardbody">
                                    <h3 class="staffname">@Staff.StaffFname @Staff.StaffLname</h3>
                                    <h5 class="staffposition">@Staff.Position</h5>
                                </div>
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>


@code {
    private List<Staff>? Staffs;
    <!--When the page begins to load-->
    protected async override Task OnInitializedAsync()
    {
        Staffs = await _client.GetFromJsonAsync<List<Staff>>($"{Endpoints.StaffsEndpoint}");
    }

}
