@attribute [Authorize]
@page "/PrescriptionItem/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create Prescription Item</h3>


<FormComponent ButtonText="Create Prescription Items" prescriptionitem="prescriptionitem" OnValidSubmit="@CreatePrescriptionItems" />

@code {
    PrescriptionItem prescriptionitem = new PrescriptionItem();

    private IList<Product>? Products;
    private IList<Order>? Orders;
    private IList<Prescription>? Prescriptions;

    protected async override Task OnInitializedAsync()
    {
        Products = await _client.GetFromJsonAsync<List<Product>>($"{Endpoints.ProductsEndpoint}");
        Orders = await _client.GetFromJsonAsync<List<Order>>($"{Endpoints.OrdersEndpoint}");
        Prescriptions = await _client.GetFromJsonAsync<List<Prescription>>($"{Endpoints.PrescriptionsEndpoint}");
    }

    private async Task CreatePrescriptionItems()
    {
        await _client.PostAsJsonAsync(Endpoints.PrescriptionItemsEndpoint, prescriptionitem);
        _navManager.NavigateTo("/PrescriptionItem/");
    }

}

