@inject NavigationManager Navigation

<nav class="navbar navbar-expand-lg bg-light " id="navigaionbaritems">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" id="navigationbarlogo">Farmacy</a>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNav">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title">Farmacy</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link align-self-center" href="/Product" role="button" id="productslink">
                            Products
                        </a>
                    </li>
                </ul>
                <SearchBarComponent OnSearch="HandleSearch" />
            </div>
        </div>
            <div class="d-flex justify-content-end" id="navigationicon">
            <a class="nav-link" id="Profileicon" onclick="toggleMenu() ">
                <span class="bi bi-person-circle"></span>
                <div class="sub-menu-wrap" id="subMenu">
                    <div class="sub-menu">
                        <LoginDisplay />
                    </div>
                </div>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNav" aria-controls="offcanvasNav" id="navtoggler">
                <span class="navbar-toggler-icon"></span>
            </button>
            </div>
     </div>
</nav>

@code {
    private string searchTerm; 
    private void HandleSearch(string term)
    {
        searchTerm = string.IsNullOrEmpty(term) ? string.Empty : term;

        // Navigate to the search page only if the search term is not empty
        if (!string.IsNullOrEmpty(searchTerm))
        {
            Navigation.NavigateTo($"/Search/{Uri.EscapeDataString(searchTerm)}");
        }
    }
}

