@page "/Delivery/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h1 class="mt-3" id="ViewDeliveryheader"> View Delivery</h1>
<FormComponent delivery="delivery" Disabled="true" />
<div class="d-flex justify-content-between m-2">
    <a href="Order/list/@id" class="btn btn-primary ">
        <span class="oi oi-arrow-left"></span>
        View Order Items
    </a>
    <a href="/Order" class="btn btn-primary ">
        <span class="oi oi-arrow-right"></span>
        Back to Orders
    </a>

</div>




@code {
    [Parameter] public int id { get; set; }
    Delivery? delivery = new Delivery();
    protected async override Task OnParametersSetAsync()
    {
        delivery = await
        _client.GetFromJsonAsync<Delivery>($"{Endpoints.DeliverysEndpoint}/{id}");
    }
}
