@page "/Delivery/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h1 class="mt-3" id="EditDeliveryheader">Edit Delivery</h1>
<FormComponent ButtonText="Update" OnValidSubmit="EditDelivery" delivery="delivery" />
@code {

    [Parameter] public int id { get; set; }
    Delivery? delivery = new Delivery();
    protected async override Task OnParametersSetAsync()
    {
        delivery = await
        _client.GetFromJsonAsync<Delivery>($"{Endpoints.DeliverysEndpoint}/{id}");
    }

    async Task EditDelivery()
    {
        await _client.PutAsJsonAsync($"{Endpoints.DeliverysEndpoint}/{id}",
        delivery);
        _navManager.NavigateTo("/Delivery/");
    }

}